language: python
python:
  - "2.7"
  - "3.4"
compiler: gcc
sudo: required
dist: trusty
before_install:
  - sudo apt-get -y install python-setuptools
install:
  - sudo pip install coveralls
script:
  - cd $TRAVIS_BUILD_DIR
  - sudo python setup.py sdist
  - coverage run --source=auxi setup.py test
after_success:
  - coveralls
deploy:
  provider: pypi
  user: emdev
  password:
    secure: BqD5GHrm1RMe3F69sdh7YdN2uXnYT0qBp40z40OYQb0efHB08zBD4ZJWMccjWm7pYwtefO2Jv7x3huKLLH8u811E5e50yJ3jiEJbjAB8VijDwQjWqzELe1jxITGoee0zECBjVgJPcJOkICSC38hamrlYOQGfqqg4rhTbVhUbTbSbPna8S84Cdm/N6kzi9hgdhqDetxXhSfDIhYxREJJScCUxfY8rK3o69qZHlffzboK25xkDhagpuUY/1mW1QOHvIxa/p6TnE9hS5nf4RSZnvvsQqehVjrlIlMP8qa9JlMBlIYcX13PQh34OEg0KbYUzkS0kRacE0Ol2AS7aFmA8erdAWOPvbixmffiTm2U3zsT7Rxc5aCDhBYQanocqpAmEzJ+dmi5yrzq++je0plS0v+WY5TTyh21RyROB6E+43JoSMenh0NDpvod3qsSjLCf8GEt/vDKuY3KRkQQbmirAv/J3H88rPIG6KH3UJIMTL0mXClbwU3HMmPQtJ4pit8Nwdhjg6L/jzSFa0zL801zQBiRLXIutBZK6kQDfwFwJ8HVe1ihAiy3AME8YBFrEPZdLOKr5y0gG0SvAvZ/pV7W1u0Yc1m7JXDRTUyhw5qMRq+uxMKjoBUM19mRAgxt2KLftVEjKGAMyUWknPIfgt9D5O6SJLtyxPUT1ixh9XDM0MXI=
  skip_cleanup: true
  on:
    tags: true
